

.ipynb_checkpoints/
2300.mc.txt
2300.rd.txt
data
min.txt
min1e5.txt
plot_something_with_waves.ipynb
plots/data_with_errors_pr1.pdf
sdm_r1_2320_2340_t1.txt
src/Extract
test.jld

.nfs*
fu.jld
rd.jld
mc.jld

interference_test2_11.pdf
inv_hes_compass.txt
invhes_compass.txt
minpars.txt
output/
output_new/
plots/diff_2300_2320_t1.pdf
plots/sdm_diff_2300_2320_t1.pdf
plots/sdm_results_2300_2320_t1.pdf
plots/sdm_results_2300_2320_t1.png
save_memory

#
SDMs

############
.SDMViewer-0.ipynb
BootstrapResults-200.txt
BootstrapResults.txt
NewBootstrapResults-200.txt
Untitled.ipynb
exercises_with_static_arrays.ipynb
get_root_files_using_bash_output.ipynb
plots/data_with_errors.pdf
plots/data_with_errors.png
plots/parameters_with_bootstrap_errors.pdf
plots/parameters_with_bootstrap_errors.png
plots/parameters_with_hessian_errors.pdf
plots/parameters_with_hessian_errors.png
plots/sdm2_results.pdf
plots/sdm2_results.png
plots/sdm_results.pdf
plots/sdm_results.png
plots/without_neg_rank.pdf
sdm91-err.im
sdm91-err.re
sdm91.im
sdm91.re
src/README.md
